@{
    ViewData["Title"] = "Correo enviado con éxito";
}

<h2 class="my-5 text-center">@ViewData["Title"]</h2>

<div class="p-5 bg-light border rounded-3">
    <h2>Su información se ha enviado con éxito</h2>
    <p>Muchas gracias por su participación</p>
    <a asp-action="Index" class="btn btn-outline-secondary">Nuevo Correo</a>
</div>